#exTable
	color $darkest - 40%
	border-collapse collapse
	border-spacing 0

	td, th    
		padding 4px 8px
		height 40px
		text-align center
	
	th 
		background $darker
		color $lightest
		font-weight bold

	/* last-child blank cells! */
	tr td:last-child, tr th:last-child
		background none 
		text-align center
		border 0 none 
