button
    background-color $darker
    border none
    color $lightest
    padding 8px
    text-align center
    text-decoration none
    display inline-block
    font-size 16px

button:hover
		background $dark


label {
    display: inline-block; // to make it easier to click
  cursor: pointer;
    position: relative; // important
  
    // create the checkbox object  
    span {
      display: inline-block;
      position: relative;
      background-color: transparent;
      width: 12px;
      height: 12px;
      padding 4px
      border-radius: 5px
      transform-origin: center;
      border: 2px solid $darker;
      vertical-align: -6px;
      margin-right: 10px;
      transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation
  
    // create "tick" using pseudo elements - basically two lines rotated
    &:before {
      content: "";
      width: 0px;
      height: 2px;
      background: $lightest;
      position: absolute;
      transform: rotate(45deg);
      top: 10px; // tweak!
      left: 7px; // tweak!
      transition: width 50ms ease 50ms
      transform-origin: 0% 0%;
    }
  
    &:after {
      content: "";
      width: 0;
      height: 2px;
      background: $lightest
      position: absolute;
      transform: rotate(305deg);
      top: 14px; // tweak!
      left: 9px; // tweak!
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
  // Time to add some life to it
  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }
      
      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

input[type="checkbox"], input[type="radio"] {
  display: none; // hide the system checkbox
  
  // add some effects after the checkbox is checked
  &:checked {
    + label {
      span {
        background-color: $darker
        transform: scale(1.15); // enlarge the box
        
        &:after {
          width: 10px;
          background: $brown;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
        
        &:before {
          width: 5px;
          background: $brown;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }
      
      // tick colour
      &:hover { // copy the states for onMouseOver to avoid flickering
        span {
          background-color: $dark;
          transform: scale(1.15); // enlarge the box

          &:after {
            width: 10px
            background $green
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 5px;
            background: $green
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }  
      }
    }
  }
}
