@import 'vars'
@import 'inputs'
@import 'exampleTable'

body, html
    height: 100%
    margin 0
    padding 0
 
body 
    color: #999
    background: $mainColour
    display: flex
    font-family: Helvetica, Arial, sans-serif
    font-size 16px
   

aside
    width: 150px
    background #343f44
    text-align center

aside  div
    padding 0px 10px
    // border-bottom 1px solid $green

// #main 
//     // height: 100%;
//     width auto

#dfile 
   width 100px
   margin 0 auto 

.greenborder
    border 2px solid $green
    // animation flash linear 2s infinite
    

.flashborder
    border 2px solid $lighter

.darkborder
    border 2px solid $darkest

/* Flash class and keyframe animation */
.flashit
    color $green
    animation flash linear 2s infinite
    font-size 24px
    // border 1px solid $green

.throbit
    border 2px solid $green
    animation throb linear 2s infinite
    

@keyframes flash
    0% { opacity: 1; } 
    50% { opacity: .2 } 
    100% { opacity: 1; }

@keyframes throb
    0% { border-color: $green } 
    50% { border-color: $dark } 
    100% { border-color: $green }


.raised
    padding-bottom 16px


h1 
    font-size 3rem
    margin 10px 0




#dz, #critBox, #chooseViz, #dzText
     padding 8px
     transition width .5s, background .5s
    transition border-radius 2s ease 1.5s
    transition visibility .5s


#dz
    display: flex
    flex-direction column
    justify-content center
    font-size 24px

    #browse 
        // margin-top 50px

    #dzSize 
        margin-bottom 24px

#paretoDiv
    // background $pink

span
    transition 2s
    border-radius 5px
 
// .floater 
//       float left
//       margin-right 20px 
 
// .clearbox
//       clear: left
// .vizbl
//     visibility: visible

// .invizbl
//     visibility hidden
//

.narrow 
    width 80px
    border-radius 25%
    background $darker
    border 5px solid $darkest

.wide
    width 400px
    border-radius 0
    border 5px solid $green
    // background $lighter
    min-height 40px
    text-align center

 
.widest
    width 600px
    border-radius 0
    // border 5px solid $green
    // background $lighter
    min-height 40px
    text-align center
 
 
.light
    background $light
 
.lighter
    background $lighter
 
.lightest
    background $lightest
 
.dark 
    background $dark
 
.darker
    background $darker
 
.darkest
    background $darkest

 .border
    border 5px $green solid
 
 .brown
    background $brown

.green 
    color $green

.candy 
      background $brown
      padding 4px
      // margin 0
      border solid 1px $darker
      border-radius 10px
    transition margin 2s easeOut

.tooltip
  background $pink
  padding 2px
  border dashed 2px $darkest
  border-radius 10px


  .slider
      font-size 0px