@import 'vars'
@import 'inputs'
@import 'exampleTable'
@import 'classes'

body
	background $mainColour
	color $gray
	font-family Helvetica, Arial, sans-serif
	

#dz
	padding 8px
	transition width .5s ease 0.15s, background .5s, border-radius .5s ease .5s

#critBox, #chooseViz
	// transition opacity 3s
	padding 8px
	transition width .5s ease 0.15s, background .5s, border-radius .5s ease .5s, opacity 1s .75s
		
	
#dzText
	transition background 2s

.trans
	opacity 0


.floater {
	float left
	margin-right 20px 
}

.clearbox
	clear: left

span
	background $brown
	padding 4px
	margin 0
	border solid 1px $darker
	border-radius 10px
	// font-size 10pt
	// float left
	box-sizing: border-box;
	
.tooltip
	background $pink
	padding 2px
	border dashed 2px $darkest
	border-radius 10px
