@import 'vars'
@import 'inputs'
@import 'exampleTable'

 
body 
	color: $gray;
	background: $mainColour;
	font-family: Helvetica, Arial, sans-serif


#dz, #critBox, #chooseViz, #dzText
 	padding 8px
 	transition width .5s, background .5s
	transition border-radius 2s ease 1.5s
	transition visibility .5s

 
.floater 
  	float left
  	margin-right 20px 
 
.clearbox
  	clear: left
.vizbl
	visibility: visible

.invizbl
	visibility hidden
//

.narrow 
    width 80px
    border-radius 25%
    background $darker
    border 5px solid $darkest

.wide
    width 400px
    border-radius 0
    border 5px solid $green
    background $lighter
    min-height 40px
    text-align center

 
.widest
    width 600px
    border-radius 0
    border 5px solid $green
    background $lighter
    min-height 40px
    text-align center
 
 
.light
    background $light
 
.lighter
    background $lighter
 
.lightest
    background $lightest
 
.dark 
    background $dark
 
.darker
    background $darker
 
.darkest
    background $darkest
 
.hidden 
    display none
 
.darkBorder
    border 5px $darkest solid
 
.border
    border 5px $green solid
 
 .brown
    background $brown

.green 
    color $green

.candy 
  	background $brown
  	padding 4px
  	margin 0
  	border solid 1px $darker
  	border-radius 10px
