button {
  background-color: #5c6c2a;
  border: none;
  color: #d7e2b4;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background: #7b9038;
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 12px;
  height: 12px;
  transform-origin: center;
  border: 2px solid #5c6c2a;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}
label span:before {
  content: "";
  width: 0px;
  height: 2px;
  background: #d7e2b4;
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  left: 7px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
label span:after {
  content: "";
  width: 0;
  height: 2px;
  background: #d7e2b4;
  position: absolute;
  transform: rotate(305deg);
  top: 14px;
  left: 9px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}
label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
  background-color: #5c6c2a;
  transform: scale(1.15);
}
input[type="checkbox"]:checked + label span:after,
input[type="radio"]:checked + label span:after {
  width: 10px;
  background: #b45d46;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label span:before,
input[type="radio"]:checked + label span:before {
  width: 5px;
  background: #b45d46;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span,
input[type="radio"]:checked + label:hover span {
  background-color: #7b9038;
  transform: scale(1.15);
}
input[type="checkbox"]:checked + label:hover span:after,
input[type="radio"]:checked + label:hover span:after {
  width: 10px;
  background: #9ab446;
  transition: width 150ms ease 100ms;
}
input[type="checkbox"]:checked + label:hover span:before,
input[type="radio"]:checked + label:hover span:before {
  width: 5px;
  background: #9ab446;
  transition: width 150ms ease 100ms;
}
input[type="radio"] {
  border-radius: 20px;
}
#exTable {
  color: #252b11;
  border-collapse: collapse;
  border-spacing: 0;
/* last-child blank cells! */
}
#exTable td,
#exTable th {
  padding: 4px 8px;
  height: 30px;
}
#exTable th {
  background: #5c6c2a;
  color: #d7e2b4;
  font-weight: bold;
  height: 40px;
}
#exTable td {
  text-align: center;
}
#exTable tr td:last-child,
#exTable tr th:last-child {
  background: none;
  text-align: center;
  border: 0 none;
}
#measRow {
  width: 25px;
  margin: 20px 100px;
  position: relative;
}
body {
  color: #112;
  background: #9ab446;
  font-family: Helvetica, Arial, sans-serif;
}
#dz,
#critBox,
#chooseViz,
#dzText {
  padding: 8px;
  transition: width 0.5s, background 0.5s;
}
transition border-radius 2s ease 1.5s {
  transition: visibility 0.5s;
}
.floater {
  float: left;
  margin-right: 20px;
}
.clearbox {
  clear: left;
}
.vizbl {
  visibility: visible;
}
.invizbl {
  visibility: hidden;
}
.narrow {
  width: 80px;
  border-radius: 25%;
  background: #5c6c2a;
  border: 5px solid #3e481c;
}
.wide {
  width: 400px;
  border-radius: 0;
  border: 5px solid #9ab446;
  background: #c3d38f;
  min-height: 40px;
  text-align: center;
}
.widest {
  width: 600px;
  border-radius: 0;
  border: 5px solid #9ab446;
  background: #c3d38f;
  min-height: 40px;
  text-align: center;
}
.light {
  background: #afc569;
}
.lighter {
  background: #c3d38f;
}
.lightest {
  background: #d7e2b4;
}
.dark {
  background: #7b9038;
}
.darker {
  background: #5c6c2a;
}
.darkest {
  background: #3e481c;
}
.hidden {
  display: none;
}
.darkBorder {
  border: 5px #3e481c solid;
}
.border {
  border: 5px #9ab446 solid;
}
.rolledUp border 8px solid $pink {
  background: #ff0;
}
.brown {
  background: #b45d46;
}
.green {
  color: #9ab446;
}
span {
  background: #b45d46;
  padding: 4px;
  margin: 0;
  border: solid 1px #5c6c2a;
  border-radius: 10px;
}
