button {
  background-color: #161c1f;
  border: none;
  color: #9bb0ba;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  background: #1d262a;
}
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 12px;
  height: 12px;
  padding: 4px;
  border-radius: 5px;
  transform-origin: center;
  border: 2px solid #161c1f;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 80ms, transform 100ms;
}
label span:before {
  content: "";
  width: 0px;
  height: 2px;
  background: #9bb0ba;
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  left: 7px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}
label span:after {
  content: "";
  width: 0;
  height: 2px;
  background: #9bb0ba;
  position: absolute;
  transform: rotate(305deg);
  top: 14px;
  left: 9px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}
label:hover span:before {
  width: 5px;
  transition: width 80ms ease;
}
label:hover span:after {
  width: 10px;
  transition: width 100ms ease 50ms;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
  background-color: #161c1f;
  transform: scale(1.15);
}
input[type="checkbox"]:checked + label span:after,
input[type="radio"]:checked + label span:after {
  width: 10px;
  background: #b45d46;
  transition: width 80ms ease 50ms;
}
input[type="checkbox"]:checked + label span:before,
input[type="radio"]:checked + label span:before {
  width: 5px;
  background: #b45d46;
  transition: width 80ms ease 50ms;
}
input[type="checkbox"]:checked + label:hover span,
input[type="radio"]:checked + label:hover span {
  background-color: #1d262a;
  transform: scale(1.15);
}
input[type="checkbox"]:checked + label:hover span:after,
input[type="radio"]:checked + label:hover span:after {
  width: 10px;
  background: #9ab446;
  transition: width 80ms ease 50ms;
}
input[type="checkbox"]:checked + label:hover span:before,
input[type="radio"]:checked + label:hover span:before {
  width: 5px;
  background: #9ab446;
  transition: width 80ms ease 50ms;
}
#exTable {
  color: #080b0d;
  border-collapse: collapse;
  border-spacing: 0;
/* last-child blank cells! */
}
#exTable td,
#exTable th {
  padding: 4px 8px;
  height: 40px;
  text-align: center;
}
#exTable th {
  background: #161c1f;
  color: #9bb0ba;
  font-weight: bold;
}
#exTable tr td:last-child,
#exTable tr th:last-child {
  background: none;
  text-align: center;
  border: 0 none;
}
body {
  color: #112;
  background: #242f34;
  font-family: Helvetica, Arial, sans-serif;
}
#dz,
#critBox,
#chooseViz,
#dzText {
  padding: 8px;
  transition: width 0.5s, background 0.5s;
}
transition border-radius 2s ease 1.5s {
  transition: visibility 0.5s;
}
span {
  transition: 2s;
  border-radius: 5px;
}
.floater {
  float: left;
  margin-right: 20px;
}
.clearbox {
  clear: left;
}
.vizbl {
  visibility: visible;
}
.invizbl {
  visibility: hidden;
}
.narrow {
  width: 80px;
  border-radius: 25%;
  background: #161c1f;
  border: 5px solid #0e1315;
}
.wide {
  width: 400px;
  border-radius: 0;
  border: 5px solid #9ab446;
  background: #698997;
  min-height: 40px;
  text-align: center;
}
.widest {
  width: 600px;
  border-radius: 0;
  border: 5px solid #9ab446;
  background: #698997;
  min-height: 40px;
  text-align: center;
}
.light {
  background: #475c66;
}
.lighter {
  background: #698997;
}
.lightest {
  background: #9bb0ba;
}
.dark {
  background: #1d262a;
}
.darker {
  background: #161c1f;
}
.darkest {
  background: #0e1315;
}
.border {
  border: 5px #9ab446 solid;
}
.brown {
  background: #b45d46;
}
.green {
  color: #9ab446;
}
.candy {
  background: #b45d46;
  padding: 4px;
  border: solid 1px #161c1f;
}
.candy border-radius 10px {
  transition: margin 2s easeOut;
}
.tooltip {
  background: #b44669;
  padding: 2px;
  border: dashed 2px #0e1315;
  border-radius: 10px;
}
.tooltip .slider {
  font-size: 0px;
}
